<link rel="stylesheet" href="css/connect.css" />
<h1>Ajouter un acteur</h1>
<form action="addacteur" method="POST">
    <input type="text" name="nom" placeholder="nom">
    <input type="text" name="prenom" placeholder="prenom">
    <input type="text" name="photo" placeholder="photo">
    <input type="submit" value="ajouter">
</form>

