<link rel="stylesheet" href="css/connect.css" />
<h2>Ajouter un genre</h2>
<form action="addgenre" method="POST">
  <div>
    <input placeholder="genre" name="genre" required />
  </div>
  <button type="submit">Ajouter genre</button>
</form>
